<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Output</title>
</head>
<body>
    <div>
        <h1>Response</h1>
        <div style="text-align:left">
            <p>Inputs: {{ inputs | join(", ") }}</p>
            <p>Classifier: {{ classifier }}</p>
            <p>Prediction: {{ prediction }}</p>
        </div>
    </div>
    
</body>
</html>